.changisha-form-box hr {
	-webkit-box-sizing: content-box;
        box-sizing: content-box;
  	height: 0;
  	overflow: visible;
  	margin-top: 1.5rem;
  	margin-bottom: 1.5rem;
  	border: 0;
  	border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.changisha-form-text {
	margin-bottom: 10px !important;
}

.changisha-form-error {
	color: #e74c3c !important;
}

.changisha-form-invalid {
  	border-color: #e74c3c;
  	padding-right: calc(1.5em + 0.75rem);
  	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none' stroke='%23E74C3C' viewBox='0 0 12 12'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23E74C3C' stroke='none'/%3e%3c/svg%3e");
  	background-repeat: no-repeat;
  	background-position: right calc(0.375em + 0.1875rem) center;
  	background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}

.changisha-form-invalid:focus {
  	border-color: #e74c3c;
  	-webkit-box-shadow: 0 0 0 0.2rem rgba(231, 76, 60, 0.25);
    box-shadow: 0 0 0 0.2rem rgba(231, 76, 60, 0.25);
}

.changisha-form-alert {
	position: relative;
	padding: 0.75rem 1.25rem;
	margin-bottom: 1rem;
	border: 1px solid transparent;
	border-radius: 0.25rem;
}

.changisha-form-alert.success {
	color: #155f17;
	background-color: #d4f0d5;
	border-color: #c3ebc4;
}

.changisha-form-alert.info {
	color: #3d697a;
	background-color: #e3f4fb;
	border-color: #d8f0f9;
}

.changisha-form-alert.error {
	color: #85221c;
	background-color: #ffd9d7;
	border-color: #ffcac7;
}

.changisha-form-alert.hide {
	display: none;
}